<!--booking-bar-->
<div class="booking-bar">
    <picture>
        <source srcset="img/svg/booking-ex-mob.svg" media="(max-width: 767.98px)">
        <img src="img/svg/booking-ex.svg" alt>
    </picture>
</div>