<!--footer-->
<footer class="footer <%= main ? 'footer--main' : '' %>">
    <div class="container">
        <div class="mb-40 footer__logo"><a href="#"><img src="img/svg/logo.svg" alt="Логотип Марков"></a></div>
        <div class="mb-40 footer__rows">
            <div class="footer__row">
                <div class="footer__contacts">
                    <div class="footer__contacts-item">
                        <p class="h5"><a href="tel:89000090000">+7 900 009-00-00</a></p>
                        <p class="h5"><a href="mailto:test@mail.com">test@mail.com</a></p>
                        <p>Служба бронирования</p>
                    </div>
                    <div class="footer__contacts-item">
                        <p class="h5"><a href="tel:89000090000">+7 900 009-00-00</a></p>
                        <p>Служба приёма и&nbsp;размещения</p>
                    </div>
                    <div class="footer__contacts-item footer__contacts-item--adress">
                        <p class="h5">603001, Россия, Нижегородская область,г..&nbsp;Нижний Новгород, ул..&nbsp;Ильинская, 1А</p>
                    </div>
                </div>
                <div class="footer__social">
                    <ul>
                        <li><a href="#" target="_blank">Whats up</a></li>
                        <li><a href="#" target="_blank">Telegram</a></li>
                        <li><a href="#" target="_blank">You tube</a></li>
                        <li><a href="#" target="_blank">Vk</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__row">
                <div class="footer__navs">
                    <nav>
                        <ul>
                            <li><a href="#">«Семейный» люкс 2-х комнатный</a></li>
                            <li><a href="#">Люкс с ванной</a></li>
                            <li><a href="#">2-х уровневый люкс</a></li>
                            <li><a href="#">2-х уровневый делюкс</a></li>
                            <li><a href="#">Стандарт для&nbsp;маломобильных гостей</a></li>
                        </ul>
                    </nav>
                    <nav>
                        <ul>
                            <li><a href="#">Стандарт твин</a></li>
                            <li><a href="#">Стандарт дабл</a></li>
                            <li><a href="#">Комфорт твин</a></li>
                            <li><a href="#">Комфорт дабл</a></li>
                        </ul>
                    </nav>
                    <nav>
                        <ul>
                            <li><a href="#">Об отеле</a></li>
                            <li><a href="#">Ресторан и&nbsp;бар</a></li>
                            <li><a href="#">Услуги</a></li>
                            <li><a href="#">Акции</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__texts">
                    <p><a href="#" target="_blank">Политика конфиденциальности и&nbsp;условия обработки персональных данных.</a></p>
                    <p><a href="#" target="_blank">Внутренние правила проживания и&nbsp;пользования услугами</a></p>
                    <p><a href="#" target="_blank">Выписка из&nbsp;единого реестра объектов классификации</a></p>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <p class="footer__copy">2005–2026 © сайт.ru</p>
            <div class="footer__dev">
                <span>Разработка</span>
                <a href="https://omniagency.ru/" target="_blank" rel="nofollow">
                    <img src="img/svg/dev.svg" alt="Omniagency">
                </a>
            </div>
        </div>
    </div>
</footer>