 <!--header-->
<header class="header fixed-block <%= main ? 'header--main' : '' %>">
    <div class="header__desk">
        <div class="container">
            <div class="header__desk-inner">
                <div class="header__logo"><a href="#"><img src="img/svg/logo.svg" alt="Логотип Марков"></a></div>
                <div class="header__info">
                    <div class="header__info-item">
                        <p><a href="89000090000">+7 900 009-00-00</a></p>
                        <p>Служба приёма и&nbsp;размещения</p>
                    </div>
                    <div class="header__info-item">
                        <p>Нижний Новогород, ул.&nbsp;Нижегородская, 10&nbsp;А</p>
                    </div>
                </div>
                <div class="header__actions">
                    <div class="header__lang">
                        <a class="active" href="#">Rus</a>
                        <a href="#">En</a>
                        <a href="#">中文</a>
                    </div>
                    <div class="social-list">
                        <ul>
                            <li><a href="#" target="_blank"><svg><use xlink:href="img/svg/sprite.svg#whatsapp"></use></svg></a></li>
                        </ul>
                    </div>
                    <div class="header__social">
                        <ul>
                            <li><a href="#" target="_blank">Whats up</a></li>
                            <li><a href="#" target="_blank">Telegram</a></li>
                            <li><a href="#" target="_blank">You tube</a></li>
                            <li><a href="#" target="_blank">Vk</a></li>
                        </ul>
                    </div>
                    <a href="#" class="btn text-btn"><span>забронировать</span></a>
                </div>
                <nav class="header__menu header__menu--left">
                    <ul>
                        <li><a href="#">Об отеле</a></li>
                        <li><a href="#">Номера</a></li>
                        <li><a href="#">Ресторан и бар</a></li>
                        <li><a href="#">Услуги</a></li>
                    </ul>
                </nav>
                <nav class="header__menu header__menu--right">
                    <ul>
                        <li><a href="#">Предложения</a></li>
                        <li><a href="#">События</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="header__mob">
        <div class="container">
            <div class="header__mob-inner">
                <div class="header__logo-mob"><a href="#"><img src="img/svg/logo-text.svg" alt="Логотип Марков"></a></div>
                <div class="social-list">
                    <ul>
                        <li><a href="#" target="_blank"><svg><use xlink:href="img/svg/sprite.svg#whatsapp"></use></svg></a></li>
                    </ul>
                </div>
                <div role="button" class="icon-menu" aria-label="Открыть меню">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</header>