<!--item-card-->
<div class="item-card">
    <a href="#" class="media-cover"><img src="img/content/card-<%= nmb %>.jpg" alt></a>
    <div class="item-card__content">
        <span class="item-card__promo">Максимальная выгода до&nbsp;20%</span>
        <h3 class="h4">Комплимент на&nbsp;день рождения</h3>
        <p>Для тех, кто заранее планирует путешествие и&nbsp;может воспользоваться максимальными выгодами до&nbsp;20%. Для&nbsp;тех,
            кто&nbsp;заранее планирует путешествие и&nbsp;может воспользоваться максимальными выгодами до&nbsp;20%.</p>
        <a href="#" class="btn text-btn"><span>подробнее</span></a>
    </div>
</div>