<!--item-review-->
<div class="item-review">
    <div class="mb-24 item-review__author">
        <div class="item-review__author-img">
            <span>A</span>
        </div>
        <div class="item-review__athor-info">
            <span class="item-review__athor-name">Алина&nbsp;К.</span>
            <span class="item-review__athor-pos">Знаток 7&nbsp;уровня</span>
        </div>
    </div>
    <div class="mb-40 item-review__rating">
        <div class="rating">
            <span class="rating__container light">
                <svg><use xlink:href="img/svg/sprite.svg#rating"></use></svg>
            </span>
            <span class="rating__container dark" style="width: 100%;">
                <svg><use xlink:href="img/svg/sprite.svg#rating"></use></svg>
            </span>
        </div>
        <img src="img/svg/yandex.svg" alt class="yandex">
    </div>
    <div class="read-more">
        <div class="read-more__content item-review__content">
            <p>На&nbsp;удивление классный отель. Обычно от&nbsp;столицы ожидаешь старых усталых отелей, или&nbsp;если и&nbsp;новых, то&nbsp;либо
                через&nbsp;чур&nbsp;«дизайнерских»
                с&nbsp;непонятными интерьерами, либо&nbsp;таких, в&nbsp;которых экономия выдаётся за&nbsp;минимализм.
                Комфортный просторный номер, без&nbsp;посторонних запахов, удобный матрас и&nbsp;подушки, приятное белье, халаты, тапочки&nbsp;и&nbsp;т.д.
                все&nbsp;как&nbsp;положено. Дизайн сдержанный без&nbsp;золота и&nbsp;канделябров.</p>
        </div>
        <button class="btn text-btn read-more__btn" data-open="показать полностью" data-close="скрыть">
            <span>Показать полностью</span>
        </button>
    </div>
</div>