<!DOCTYPE html>
<html lang="ru">

    <%- include('partials/head.ejs', {
    "title": "Об отеле"
    })%>

    <body>
        <div class="wrap">
            <%- include('partials/header.ejs', {"main": false})%>
            <!--main-->
            <main class="main">
                <!--intro-->
                <section class="mb-80 intro">
                    <div class="container">
                        <div class="media-cover intro__preview">
                            <picture>
                                <source srcset="img/content/about-intro.webp" type="image/webp" media="(min-width: 767.98px)">
                                <source srcset="img/content/about-intro.jpg" media="(min-width: 767.98px)">
                                <img class="intro__img" src="img/content/about-intro.jpg" alt>
                            </picture>
                            <video class="intro__video" poster="img/content/main-intro.jpg" loop muted playsinline>
                                <source data-src="media/intro.webm" type="video/webm">
                                <source data-src="media/intro.mp4" type="video/mp4">
                            </video>
                            <div class="intro__play">
                                <button class="play-btn"><svg><use xlink:href="img/svg/sprite.svg#play"></use></svg></button>
                            </div>
                        </div>
                        <div class="mb-40 intro__play intro__play--desk">
                            <button class="play-btn"><svg><use xlink:href="img/svg/sprite.svg#play"></use></svg></button>
                        </div>
                        <div class="mb-24 intro__content">
                            <h1>Об отеле</h1>
                                <p>Вдохновение историей. Современный комфорт</p>
                        </div>
                        <%- include('partials/booking.ejs') %>
                    </div>
                </section>
                <!--about-->
                <section class="section about">
                    <!--info-block-->
                    <section class="mb-60 info-block info-block--about">
                        <div class="container">
                            <div class="sec-top">
                                <div class="page-lbl">[О нас]</div>
                                <div class="sec-top__r">
                                    <h2>Вдохновение историей. Современный комфорт</h2>
                                </div>
                            </div>
                            <div class="grid-2col info-block__row">
                                <div class="info-block__l">
                                    <div class="info-block__badge">
                                        <div class="text-l"><span>27</span></div>
                                        <span class="info-block__badge-txt">уютных номера</span>
                                    </div>
                                </div>
                                <div class="info-block__r">
                                    <div class="mb-24 page-content">
                                        <p>Наш апарт-отель предлагает своим гостям 27&nbsp;уютных и&nbsp;современных номеров различных категорий, от&nbsp;комфортабельных
                                            стандартов до&nbsp;роскошных двухэтажных люксов. Расположенный в&nbsp;живописном районе [Название района], он&nbsp;сочетает
                                            в&nbsp;себе
                                            удобство домашней обстановки с&nbsp;высоким уровнем сервиса и&nbsp;гостиничного обслуживания. На&nbsp;территории отеля к&nbsp;вашим
                                            услугам [перечислите основные удобства, например: бесплатный Wi-Fi, парковка, ресторан, детская площадка]</p>
                                    </div>
                                    <div class="info-block__footer">
                                        <a href="#" class="btn text-btn"><span>подробнее</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <%- include('partials/gallery.ejs', {
                    items: [
                    { nmb: 1, tag: 'уютные номера' },
                    { nmb: 2, tag: 'зона reception' },
                    { nmb: 3, tag: 'парковка для&nbsp;гостей' },
                    { nmb: 4, tag: 'лобби' },
                    { nmb: 1, tag: 'уютные номера' },
                    { nmb: 2, tag: 'лобби'}
                    ]})%>
                </section>
                <!--advants-->
                <section class="section advants">
                    <div class="container">
                        <div class="sec-top">
                            <div class="page-lbl">[наши преимущества]</div>
                            <div class="sec-top__r">
                                <h2 class="h3">Мы предлагаем Гостям высококлассный сервис и&nbsp;широкий набор услуг для&nbsp;комфортного пребывания, работы
                                    и&nbsp;отдыха:</h2>
                            </div>
                        </div>
                        <div class="mb-40 advants__wrapper">
                            <div class="advants__items">
                                <div class="item-advant">
                                    <div class="mb-40 item-advant__icon">
                                        <img src="img/svg/icons/pets.svg" alt>
                                    </div>
                                    <div class="item-advant__content">
                                        <h4>Проживание с&nbsp;животными</h4>
                                        <p>Ваш питомец&nbsp;— желанный гость в&nbsp;нашем отеле.</p>
                                    </div>
                                </div>
                                <div class="item-advant">
                                    <div class="mb-40 item-advant__icon">
                                        <img src="img/svg/icons/parking.svg" alt>
                                    </div>
                                    <div class="item-advant__content">
                                        <h4>Парковка на&nbsp;территории отеля</h4>
                                        <p>Припаркуйте автомобиль бесплатно и&nbsp;забудьте о&nbsp;лишних расходах.</p>
                                    </div>
                                </div>
                                <div class="item-advant">
                                    <div class="mb-40 item-advant__icon">
                                        <img src="img/svg/icons/wifi.svg" alt>
                                    </div>
                                    <div class="item-advant__content">
                                        <h4>Бесплатный Wi-Fi&nbsp;— везде</h4>
                                        <p>Стабильный интернет на&nbsp;всей территории для&nbsp;работы и&nbsp;общения.</p>
                                    </div>
                                </div>
                                <div class="item-advant">
                                    <div class="mb-40 item-advant__icon">
                                        <img src="img/svg/icons/concierge.svg" alt>
                                    </div>
                                    <div class="item-advant__content">
                                        <h4>Консьерж-сервис</h4>
                                        <p>Решим любой вопрос. Поможем с&nbsp;организацией досуга. Гастрономическое обслуживание номеров</p>
                                    </div>
                                </div>
                                <div class="item-advant">
                                    <div class="mb-40 item-advant__icon">
                                        <img src="img/svg/icons/transport.svg" alt>
                                    </div>
                                    <div class="item-advant__content">
                                        <h4>Помощь с&nbsp;транспортом</h4>
                                        <p>Забронируем для&nbsp;вас&nbsp;билеты на&nbsp;любой вид&nbsp;транспорта. Организуем трансфер из&nbsp;любой точки города</p>
                                    </div>
                                </div>
                                <div class="item-advant">
                                    <div class="mb-40 item-advant__icon">
                                        <img src="img/svg/icons/print.svg" alt>
                                    </div>
                                    <div class="item-advant__content">
                                        <h4>Печать документов</h4>
                                        <p>Бесплатно распечатаем всё&nbsp;необходимое для&nbsp;работы или&nbsp;путешествия.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="sec-bottom">
                                <a href="#" class="btn stroke-btn">
                                    <span>Подробнее об услугах отеля</span>
                                </a>
                            </div>
                        </div>
                        <div class="warn-block">
                            <div class="warn-block__content">
                                <p>Просим вас&nbsp;учесть, что&nbsp;согласно законодательству РФ&nbsp;для&nbsp;заселения потребуются оригиналы документов, удостоверяющих
                                    личность, для&nbsp;всех проживающих в&nbsp;номере гостей: паспорт для&nbsp;гостей от&nbsp;14&nbsp;лет и&nbsp;свидетельство о&nbsp;рождении
                                    для&nbsp;детей от&nbsp;0&nbsp;до&nbsp;14&nbsp;лет.</p>
                                <p>Обратите внимание, что&nbsp;документом, удостоверяющим личность, для&nbsp;граждан РФ&nbsp;на&nbsp;территории РФ&nbsp;является внутренний
                                    паспорт гражданина России.</p>
                            </div>
                        </div>
                    </div>
                </section>
                <!--about-media-->
                <section class="section swiper-1 about-media">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="media-cover">
                                    <img src="img/content/about-1.jpg" alt>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="media-cover">
                                    <img src="img/content/about-intro.jpg" alt>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="media-cover">
                                    <img src="img/content/about-1.jpg" alt>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nav-btns">
                        <button class="nav-btn nav-btn--prev"><svg><use xlink:href="img/svg/sprite.svg#btn-prev"></use></svg></button>
                        <button class="nav-btn nav-btn--next"><svg><use xlink:href="img/svg/sprite.svg#btn-next"></use></svg></button>
                    </div>
                    <div class="swiper-pagination"></div>
                </section>
                <%- include('partials/faq.ejs', {title: 'Правила заселения'})%>
                <!--contacts-->
                <section class="section contacts">
                    <div class="container">
                        <div class="sec-top">
                            <div class="page-lbl">[контакты]</div>
                            <div class="sec-top__r">
                                <h2>Как добраться</h2>
                            </div>
                        </div>
                        <div class="mb-40 ml-50 contacts__content">
                            <p>603001, Россия, Нижегородская область<br>г..&nbsp;Нижний Новгород,&nbsp;ул..&nbsp;Ильинская, 1А</p>
                            <p><a href="tel:88001001033">8 800 100-10-33</a></p>
                            <a
                                href="https://yandex.com/maps/47/nizhny-novgorod/house/ilyinskaya_ulitsa_1a/YEoYfw5lSkIAQFtsfX9zeH9jZg==/?ll=43.995378%2C56.329302&source=constructorLink&um=constructor%3A346b5767c6477f6b6884779aabeef53275e5d7556bcb29c57dc4ac516b058219&z=17.11"
                                target="_blank" class="btn text-btn"><span>открыть навигатор</span></a>
                        </div>
                        <div class="contacts__map">
                            <div class="map" id="contacts-map"></div>
                        </div>
                    </div>
                </section>
            </main>
            <%- include('partials/footer.ejs', {"main": false})%>
            <%- include('partials/modal.ejs')%>
            <%- include('partials/map.ejs')%>
        </div>
        <%- include('partials/js.ejs')%>
    </body>

</html>